/* 전체 초기화 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
  background-color: #f5f5f7;
}

/* Vite 기본 #root 스타일 싹 초기화 */
#root {
  height: 100%;
  width: 100%;
}
